[submodule "modules/org"]
	path = modules/org
	url = git://repo.or.cz/org-mode.git
[submodule "modules/tiny-tools"]
	path = modules/tiny-tools
	url = git://git.savannah.nongnu.org/emacs-tiny-tools.git
[submodule "modules/auto-complete"]
	path = modules/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "modules/jabber"]
	path = modules/jabber
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
